<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>uni0200</string>
		<string>uni0202</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>uni0204</string>
		<string>uni0206</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>uni0208</string>
		<string>uni020A</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>uni020C</string>
		<string>uni020E</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>uni0210</string>
		<string>uni0212</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>uni0218</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>uni0214</string>
		<string>uni0216</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>uni0201</string>
		<string>uni0203</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>uni0205</string>
		<string>uni0207</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>uni0209</string>
		<string>uni020B</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>uni020D</string>
		<string>uni020F</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>uni0211</string>
		<string>uni0213</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
		<string>uni0219</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uni0215</string>
		<string>uni0217</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>uni0200</string>
		<string>uni0202</string>
	</array>
	<key>@MMK_R_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_R_E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>uni0204</string>
		<string>uni0206</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>uni0208</string>
		<string>uni020A</string>
	</array>
	<key>@MMK_R_N</key>
	<array>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>uni020C</string>
		<string>uni020E</string>
	</array>
	<key>@MMK_R_R</key>
	<array>
		<string>R</string>
		<string>uni0210</string>
		<string>uni0212</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>uni0218</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>uni0214</string>
		<string>uni0216</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>uni0201</string>
		<string>uni0203</string>
	</array>
	<key>@MMK_R_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_R_e</key>
	<array>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>uni0205</string>
		<string>uni0207</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>uni0209</string>
		<string>uni020B</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>uni020D</string>
		<string>uni020F</string>
	</array>
	<key>@MMK_R_r</key>
	<array>
		<string>r</string>
		<string>uni0211</string>
		<string>uni0213</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
		<string>uni0219</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uni0215</string>
		<string>uni0217</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
	</array>
	<key>_A</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>_A1</key>
	<array>
		<string>A'</string>
		<string>AE</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>_C</key>
	<array>
		<string>C'</string>
		<string>Ccedilla</string>
	</array>
	<key>_D</key>
	<array>
		<string>D'</string>
		<string>Eth</string>
	</array>
	<key>_L</key>
	<array>
		<string>L'</string>
		<string>Lslash</string>
	</array>
	<key>_N</key>
	<array>
		<string>N'</string>
		<string>Ntilde</string>
	</array>
	<key>_O</key>
	<array>
		<string>O'</string>
		<string>Oslash</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
	</array>
	<key>_S</key>
	<array>
		<string>S'</string>
		<string>Scaron</string>
	</array>
	<key>_U</key>
	<array>
		<string>U'</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>_a</key>
	<array>
		<string>a'</string>
		<string>ae</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>_b</key>
	<array>
		<string>b'</string>
		<string>thorn</string>
	</array>
	<key>_c</key>
	<array>
		<string>c'</string>
		<string>ccedilla</string>
	</array>
	<key>_d</key>
	<array>
		<string>d'</string>
		<string>dotlessi</string>
	</array>
	<key>_e</key>
	<array>
		<string>e'</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
	</array>
	<key>_f</key>
	<array>
		<string>f'</string>
		<string>f_i</string>
		<string>f_l</string>
	</array>
	<key>_i</key>
	<array>
		<string>i'</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>_l</key>
	<array>
		<string>l'</string>
		<string>lslash</string>
	</array>
	<key>_n</key>
	<array>
		<string>n'</string>
		<string>ntilde</string>
	</array>
	<key>_o</key>
	<array>
		<string>o'</string>
		<string>oslash</string>
		<string>oe</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
	</array>
	<key>_s1</key>
	<array>
		<string>s'</string>
		<string>germandbls</string>
		<string>scaron</string>
	</array>
	<key>_u</key>
	<array>
		<string>u'</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>_y</key>
	<array>
		<string>y'</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
</dict>
</plist>
