<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-64</integer>
		<key>@MMK_R_O</key>
		<integer>-61</integer>
		<key>@MMK_R_T</key>
		<integer>-64</integer>
		<key>@MMK_R_U</key>
		<integer>-11</integer>
		<key>@MMK_R_Y</key>
		<integer>-96</integer>
		<key>@MMK_R_y</key>
		<integer>-57</integer>
		<key>G</key>
		<integer>-62</integer>
		<key>Q</key>
		<integer>-85</integer>
		<key>V</key>
		<integer>-109</integer>
		<key>W</key>
		<integer>-74</integer>
		<key>v</key>
		<integer>-49</integer>
		<key>w</key>
		<integer>-18</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>comma</key>
		<integer>-82</integer>
		<key>period</key>
		<integer>-82</integer>
	</dict>
	<key>@MMK_L_N</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-4</integer>
		<key>comma</key>
		<integer>-82</integer>
		<key>period</key>
		<integer>-82</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-86</integer>
		<key>@MMK_R_T</key>
		<integer>-19</integer>
		<key>@MMK_R_Y</key>
		<integer>-67</integer>
		<key>V</key>
		<integer>-26</integer>
		<key>W</key>
		<integer>-1</integer>
		<key>X</key>
		<integer>-35</integer>
		<key>comma</key>
		<integer>-136</integer>
		<key>period</key>
		<integer>-176</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-38</integer>
		<key>@MMK_R_U</key>
		<integer>-26</integer>
		<key>@MMK_R_Y</key>
		<integer>-46</integer>
		<key>V</key>
		<integer>-58</integer>
		<key>W</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>comma</key>
		<integer>-76</integer>
		<key>period</key>
		<integer>-66</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-58</integer>
		<key>@MMK_R_O</key>
		<integer>-19</integer>
		<key>@MMK_R_a</key>
		<integer>-70</integer>
		<key>@MMK_R_e</key>
		<integer>-87</integer>
		<key>@MMK_R_o</key>
		<integer>-89</integer>
		<key>@MMK_R_u</key>
		<integer>-80</integer>
		<key>@MMK_R_y</key>
		<integer>-47</integer>
		<key>colon</key>
		<integer>-5</integer>
		<key>comma</key>
		<integer>-211</integer>
		<key>hyphen</key>
		<integer>-159</integer>
		<key>period</key>
		<integer>-211</integer>
		<key>semicolon</key>
		<integer>-5</integer>
		<key>w</key>
		<integer>-122</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-155</integer>
		<key>period</key>
		<integer>-155</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-76</integer>
		<key>@MMK_R_O</key>
		<integer>-21</integer>
		<key>@MMK_R_a</key>
		<integer>-106</integer>
		<key>@MMK_R_e</key>
		<integer>-67</integer>
		<key>@MMK_R_o</key>
		<integer>-93</integer>
		<key>@MMK_R_u</key>
		<integer>-26</integer>
		<key>colon</key>
		<integer>-89</integer>
		<key>comma</key>
		<integer>-246</integer>
		<key>hyphen</key>
		<integer>-191</integer>
		<key>period</key>
		<integer>-246</integer>
		<key>semicolon</key>
		<integer>-89</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-12</integer>
		<key>g</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-52</integer>
		<key>w</key>
		<integer>-33</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>comma</key>
		<integer>-41</integer>
		<key>period</key>
		<integer>-41</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-12</integer>
		<key>comma</key>
		<integer>-41</integer>
		<key>p</key>
		<integer>-5</integer>
		<key>period</key>
		<integer>-41</integer>
		<key>v</key>
		<integer>-34</integer>
		<key>w</key>
		<integer>-9</integer>
	</dict>
	<key>@MMK_L_i</key>
	<dict>
		<key>v</key>
		<integer>-86</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-46</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-33</integer>
		<key>comma</key>
		<integer>-82</integer>
		<key>period</key>
		<integer>-82</integer>
		<key>v</key>
		<integer>-44</integer>
		<key>w</key>
		<integer>-19</integer>
		<key>x</key>
		<integer>-26</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-22</integer>
		<key>@MMK_R_c</key>
		<integer>-11</integer>
		<key>@MMK_R_e</key>
		<integer>-11</integer>
		<key>@MMK_R_i</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-9</integer>
		<key>@MMK_R_s</key>
		<integer>-22</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>d</key>
		<integer>-12</integer>
		<key>g</key>
		<integer>-26</integer>
		<key>hyphen</key>
		<integer>-28</integer>
		<key>k</key>
		<integer>-36</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>q</key>
		<integer>-19</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>comma</key>
		<integer>-41</integer>
		<key>period</key>
		<integer>-41</integer>
		<key>w</key>
		<integer>-23</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-14</integer>
		<key>@MMK_R_e</key>
		<integer>-9</integer>
		<key>@MMK_R_o</key>
		<integer>-9</integer>
		<key>comma</key>
		<integer>-295</integer>
		<key>period</key>
		<integer>-295</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_e</key>
		<integer>-13</integer>
		<key>@MMK_R_o</key>
		<integer>-18</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-2</integer>
		<key>@MMK_R_U</key>
		<integer>-7</integer>
		<key>comma</key>
		<integer>-63</integer>
		<key>period</key>
		<integer>-63</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-55</integer>
		<key>@MMK_R_Y</key>
		<integer>-105</integer>
		<key>V</key>
		<integer>-127</integer>
		<key>W</key>
		<integer>-93</integer>
		<key>comma</key>
		<integer>-181</integer>
		<key>period</key>
		<integer>-181</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-93</integer>
		<key>@MMK_R_a</key>
		<integer>-66</integer>
		<key>@MMK_R_e</key>
		<integer>-66</integer>
		<key>@MMK_R_o</key>
		<integer>-33</integer>
		<key>@MMK_R_r</key>
		<integer>-11</integer>
		<key>comma</key>
		<integer>-288</integer>
		<key>icircumflex</key>
		<integer>-4</integer>
		<key>igrave</key>
		<integer>-4</integer>
		<key>period</key>
		<integer>-308</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>comma</key>
		<integer>-155</integer>
		<key>period</key>
		<integer>-155</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-7</integer>
		<key>@MMK_R_e</key>
		<integer>-9</integer>
		<key>@MMK_R_o</key>
		<integer>-9</integer>
		<key>@MMK_R_u</key>
		<integer>-7</integer>
		<key>comma</key>
		<integer>-66</integer>
		<key>period</key>
		<integer>-66</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-28</integer>
		<key>@MMK_R_e</key>
		<integer>-2</integer>
		<key>@MMK_R_o</key>
		<integer>-2</integer>
		<key>@MMK_R_u</key>
		<integer>-27</integer>
		<key>@MMK_R_y</key>
		<integer>-79</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-54</integer>
		<key>@MMK_R_Y</key>
		<integer>-102</integer>
		<key>@MMK_R_y</key>
		<integer>-43</integer>
		<key>C</key>
		<integer>-89</integer>
		<key>V</key>
		<integer>-131</integer>
		<key>W</key>
		<integer>-114</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-160</integer>
		<key>@MMK_R_a</key>
		<integer>-54</integer>
		<key>@MMK_R_e</key>
		<integer>-52</integer>
		<key>@MMK_R_o</key>
		<integer>-38</integer>
		<key>comma</key>
		<integer>-260</integer>
		<key>period</key>
		<integer>-300</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-42</integer>
		<key>comma</key>
		<integer>-96</integer>
		<key>period</key>
		<integer>-156</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>acircumflex</key>
		<integer>-45</integer>
		<key>agrave</key>
		<integer>-45</integer>
		<key>aring</key>
		<integer>-87</integer>
		<key>atilde</key>
		<integer>-45</integer>
		<key>ecircumflex</key>
		<integer>-77</integer>
		<key>edieresis</key>
		<integer>-77</integer>
		<key>egrave</key>
		<integer>-74</integer>
		<key>iacute</key>
		<integer>0</integer>
		<key>ocircumflex</key>
		<integer>-75</integer>
		<key>odieresis</key>
		<integer>-71</integer>
		<key>ograve</key>
		<integer>-64</integer>
		<key>udieresis</key>
		<integer>-60</integer>
		<key>ugrave</key>
		<integer>-63</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-97</integer>
		<key>@MMK_R_O</key>
		<integer>-21</integer>
		<key>@MMK_R_a</key>
		<integer>-70</integer>
		<key>@MMK_R_e</key>
		<integer>-99</integer>
		<key>@MMK_R_o</key>
		<integer>-101</integer>
		<key>@MMK_R_u</key>
		<integer>-91</integer>
		<key>G</key>
		<integer>-27</integer>
		<key>acircumflex</key>
		<integer>-15</integer>
		<key>adieresis</key>
		<integer>-62</integer>
		<key>agrave</key>
		<integer>-68</integer>
		<key>aring</key>
		<integer>-64</integer>
		<key>atilde</key>
		<integer>-52</integer>
		<key>colon</key>
		<integer>-66</integer>
		<key>comma</key>
		<integer>-254</integer>
		<key>edieresis</key>
		<integer>-75</integer>
		<key>egrave</key>
		<integer>-91</integer>
		<key>hyphen</key>
		<integer>-110</integer>
		<key>icircumflex</key>
		<integer>-3</integer>
		<key>odieresis</key>
		<integer>-97</integer>
		<key>period</key>
		<integer>-244</integer>
		<key>semicolon</key>
		<integer>-66</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-101</integer>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
		<key>@MMK_R_a</key>
		<integer>-139</integer>
		<key>@MMK_R_e</key>
		<integer>-129</integer>
		<key>@MMK_R_o</key>
		<integer>-115</integer>
		<key>@MMK_R_u</key>
		<integer>-112</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>adieresis</key>
		<integer>-28</integer>
		<key>colon</key>
		<integer>-68</integer>
		<key>comma</key>
		<integer>-216</integer>
		<key>hyphen</key>
		<integer>-70</integer>
		<key>odieresis</key>
		<integer>-96</integer>
		<key>period</key>
		<integer>-196</integer>
		<key>semicolon</key>
		<integer>-68</integer>
		<key>udieresis</key>
		<integer>-88</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>odieresis</key>
		<integer>-86</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>@MMK_R_u</key>
		<integer>-36</integer>
		<key>@MMK_R_y</key>
		<integer>-28</integer>
		<key>b</key>
		<integer>-31</integer>
		<key>comma</key>
		<integer>-77</integer>
		<key>l</key>
		<integer>-15</integer>
		<key>period</key>
		<integer>-77</integer>
		<key>v</key>
		<integer>-45</integer>
	</dict>
	<key>colon</key>
	<dict>
		<key>space</key>
		<integer>-90</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>d</key>
		<integer>-9</integer>
		<key>v</key>
		<integer>-32</integer>
		<key>w</key>
		<integer>-22</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-23</integer>
		<key>@MMK_R_e</key>
		<integer>-16</integer>
		<key>comma</key>
		<integer>54</integer>
		<key>period</key>
		<integer>54</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>@MMK_R_e</key>
		<integer>-13</integer>
		<key>@MMK_R_o</key>
		<integer>-17</integer>
		<key>comma</key>
		<integer>-68</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-68</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-46</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>@MMK_R_e</key>
		<integer>-22</integer>
		<key>@MMK_R_o</key>
		<integer>-23</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-26</integer>
		<key>w</key>
		<integer>-34</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>@MMK_R_e</key>
		<integer>-8</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-57</integer>
		<key>@MMK_R_y</key>
		<integer>-39</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-61</integer>
		<key>comma</key>
		<integer>-95</integer>
		<key>period</key>
		<integer>-95</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>quoteleft</key>
		<integer>-73</integer>
	</dict>
	<key>semicolon</key>
	<dict>
		<key>space</key>
		<integer>-90</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-36</integer>
		<key>@MMK_R_T</key>
		<integer>-90</integer>
		<key>@MMK_R_Y</key>
		<integer>-265</integer>
		<key>G</key>
		<integer>-190</integer>
		<key>V</key>
		<integer>-169</integer>
		<key>W</key>
		<integer>-128</integer>
		<key>quoteleft</key>
		<integer>-100</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-54</integer>
		<key>@MMK_R_e</key>
		<integer>-41</integer>
		<key>@MMK_R_o</key>
		<integer>-53</integer>
		<key>comma</key>
		<integer>-239</integer>
		<key>period</key>
		<integer>-259</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-49</integer>
		<key>@MMK_R_e</key>
		<integer>-5</integer>
		<key>@MMK_R_o</key>
		<integer>-17</integer>
		<key>comma</key>
		<integer>-229</integer>
		<key>h</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-259</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_e</key>
		<integer>-19</integer>
		<key>c</key>
		<integer>-34</integer>
	</dict>
</dict>
</plist>
